# Core ML
numpy<2.0.0
torch==2.3.1
intel-openmp
safetensors
sentence-transformers==3.0.1
faiss-cpu
scikit-learn<1.6.0

# Ingestion
pymupdf
gliner==0.2.24
ollama

# System & Utils
rapidfuzz
psutil
networkx
llmlingua
python-dotenv
